setEnv APPLICATION_ENV développement
# setEnv APPLICATION_ENV production
Moteur de réécriture activé
# La règle suivante indique à Apache que si le nom de fichier demandé
# existe, servez-le simplement.
RewriteCond  %{REQUEST_FILENAME}  -s  [OU]
RewriteCond  %{REQUEST_FILENAME}  -l  [OU]
RewriteCond  %{REQUEST_FILENAME}  -d
Règle de réécriture  ^.*$  -  [NC,L]
# Ce qui suit réécrit toutes les autres requêtes vers index.php. La
# condition garantit que si vous utilisez des alias Apache pour faire
# hébergement virtuel de masse, le chemin de base sera ajouté au début
# permet une bonne résolution du fichier index.php ; ça va marcher
# également dans des environnements sans alias, offrant une solution sûre et unique
# convient à toutes les solutions.
RewriteCond  %{REQUEST_URI} ::$1  ^(/.+)(.+)::\2$
Règle de réécriture  ^(.*)  -  [E=BASE :%1]
RewriteRule  ^(.*)$  %{ENV:BASE} index.php  [NC,L]